# Note: These files are kept for development purposes only.
!tools/settings.template.json
!tools/setup_vscode.py
!extensions.json
!launch.json
!tasks.json

# Ignore all other files
.python.env
*.json
